body {

    background-color: rgb(73, 73, 73);

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-tap-highlight-color: transparent;

    overflow: hidden;


}

.hard {
    background-color: rgb(0, 0, 255);
    text-align: center;

    -webkit-tap-highlight-color: transparent;
}

.page {
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-tap-highlight-color: transparent;
}

img {
    height: 300px;
    width: 280px;
    cursor: inherit;
    pointer-events: none;
    border: none;
}